name: Build STM32 Firmware

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install ARM GCC
      uses: carlosperate/arm-none-eabi-gcc-action@v1
      with:
        version: '14.2.Rel1'

    - name: Build firmware
      run: |
        mkdir build
        cd build
        cmake ..
        make

    - name: Upload firmware artifact (.bin)
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: build/*.bin
