name: Build STM32 MIDI

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install PlatformIO
        run: pip install platformio
      - name: Build
        run: platformio run
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: firmware-bin
          path: .pio/build/bluepill_f103c6/firmware.bin
