name: PlatformIO Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install PlatformIO Core
        run: pip install -U platformio

      - name: Build PlatformIO Project
        run: pio run

      - name: Upload Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: compiled-firmware
          path: .pio/build/bluepill_f103c8/firmware.bin
